@media (max-width: 1350px)
  .subscribe
    width: 370px
@media (max-width: 1280px)
  .container
    &-header
      margin: auto
      max-width: 98%
    &-footer
      margin: auto
      max-width: 993px
    &-trending
      margin: auto
      max-width: 95%
  .footer
    &-wrapper
      width: 993px
  .newsletter
    padding: 80px auto 80px auto
    min-height: 402px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 20px
      text-align: center
    &__title
      margin-bottom: 14px
    .subscribe
      min-width: 447px
  .thanksyou
    &-wrapper
      margin: auto
      width: 1000px
  .story
    &-wrapper
      margin: auto
      width: 1080px
    &__line
      width: 1080px
@media (max-width: 1150px)
  .container
    &-header
      margin: auto
      max-width: 98%
    &-footer
      margin: auto
      max-width: 87%
    &-trending
      max-width: 70%
  .header
    &-menu
      width: 520px
  .footer
    &-wrapper
      width: 900px
    &-left
      margin-right: 30px
    &-right
      width: 650px
  .thanksyou
    &-wrapper
      margin: auto
      width: 800px
  .newsletter
    padding: 80px auto 80px auto
    min-height: 402px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 20px
      text-align: center
    &__title
      margin-bottom: 14px
  .trending
    &__card-1, 
    &__card-2,
    &__card-3,
    &__card-4,
    &__card-5,
    &__card-6,
    &__card-7,
    &__card-8
      width: 280px
    &__cards
      justify-content: space-evenly
    &-tabs
      width: 315px
  .advantages
    &-wrapper
      width: 672px
      flex-direction: column
      margin-bottom: 80px
    &__cover-1
      width: 322px
    &__left
      margin-bottom: 40px
    &__right
      width: 100%
      padding-top: 0
    &__title
      margin-bottom: 18px
    &__text
      margin-bottom: 30px
  .story
    &__line
      width: 672px
    &-wrapper
      margin: auto
      width: 672px
    &__image
      width: 322px
    &-info 
      width: 322px
    &__card-1,
    &__card-2
      width: 332px
    &-wrapper
      flex-direction: column
      margin-bottom: 80px
    &__left
      display: flex
      flex-direction: column
      align-items: center
    &__mark
      margin-bottom: 24px
    &__title
      width: 470px
      margin-bottom: 16px
    &__text
      width: 510px
      text-align: center
      margin-bottom: 36px
  .slider
    width: 682px
    &-buttons
      margin-bottom: 36px
  .swiper
    &-container
      width: 682px
@media (max-width: 992px)
  .container
    &-header
      max-width: 98%
    &-footer
      margin: auto
      max-width: 650px
    &-trending
      max-width: 608px
  body
    padding-top: 116px
  .header
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 1000
        background-color: #fff
    &-wrapper
      padding: 30px 39px 53px 39px
    &-menu
      display: none
      position: fixed
      padding: 36px 24px
      right: 39px
      top: 20px
      margin: 0
      max-width: 304px
      height: 324px
      background-color: #fff
      flex-direction: column
      align-items: start
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      &__button
        display: inline
        position: absolute
        cursor: pointer
        top: 15px
        right: 15px
      &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        text-align: center
        margin-bottom: 20px
        &-get
          display: block
          padding: 8px 86px
      &--visible
        display: flex
    &__image
      display: inline
  .footer
    &-wrapper
      width: 593px
    &-left
      margin-right: 68px
    &-right
      flex-wrap: wrap
      width: 310px
      padding-bottom: 62px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 85px 40px 80px 40px
    min-height: 402px
    margin-bottom: 64px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 56px
      text-align: center
    &__title
      margin-bottom: 14px
  .thanksyou
    &-wrapper
      margin: auto
      width: 600px
  .trending
    &__top
      flex-direction: column
      margin-bottom: 45px
    &-tabs
      width: 366px
      margin: 0
    &__cards
      justify-content: space-between
    &-title
      margin-bottom: 28px
    &-wrapper
      margin-bottom: 20px
  .callback
    &-container
      min-height: 430px
    &__text
      margin-bottom: 36px
    &__author
      margin-bottom: 36px
    &-slider
      width: 630px
@media (max-width: 768px)
  .container
    &-header
      margin: auto
      max-width: 728px
    &-footer
      margin: auto
      max-width: 593px
  .header
    &-menu
      right: 40px
  .footer
    &-wrapper
      width: 593px
    &-left
      margin-right: 68px
    &-right
      flex-wrap: wrap
      width: 310px
      padding-bottom: 62px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 85px 20px 80px 20px
    min-height: 450px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 56px
      text-align: center
    &__title
      margin-bottom: 14px
  .thanksyou
    &-wrapper
      margin: auto
      width: 500px
  .story
    &__line
      margin-bottom: 80px
@media (max-width: 700px)
  .container
    &-header
      margin: auto
      max-width: 728px
    &-footer
      margin: auto
      max-width: 450px
    &-trending
      max-width: 95%
    &-advantages
      margin: auto
      width: 95% 
    &-story
      width: 350px
  .footer
    &__text
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      margin-bottom: 29px
    &__image
      margin-bottom: 14px
    &-wrapper
      width: 500px
    &-left
      display: flex
      flex-direction: column
      align-items: center
      min-width: 242px
      order: 2
      margin-right: 0
      margin: auto
      min-height: 152px
      margin-bottom: 64px
    &-right
      flex-wrap: wrap
      width: 300px
      padding-bottom: 45px
      &__item
        &--mb-45
          margin-bottom: 39px
      &__link
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        &-main
          font-style: normal
          font-weight: bold
          font-size: 16px
          line-height: 22px
    &-bottom
      display: none
    &-copyright
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      text-align: center
  .newsletter
    padding: 85px 10px 80px 10px
    min-height: 470px  
    margin-bottom: 48px
  .thanksyou
    &-wrapper
      width: 400px
  .trending
    &__card-1, 
    &__card-2,
    &__card-3,
    &__card-4,
    &__card-5,
    &__card-6,
    &__card-7,
    &__card-8
      width: 240px
    &__image
      height: 350px
    &-title
      font-size: 28px
      line-height: 36px
    &-tabs
      width: 290px
      font-size: 16px
      line-height: 22px
    &__cards
      justify-content: space-evenly
  .advantages
    &-wrapper
      width: 100%
    &__left
      margin: auto
      flex-direction: column
      margin-bottom: 36px
      width: 100%
    &__right
      width: 100%
      margin: auto
    &__cover-1
      width: 100%
      margin-bottom: 14px
    &__middle
      width: 100%
      justify-content: space-between
    &__cover-2,
    &__cover-3
      width: 48%
    &__middle
      flex-direction: row
    &__title
      font-size: 28px
      line-height: 36px
    &__text
      font-size: 16px
      line-height: 28px
    &__collection
      &-text
        font-size: 16px
        line-height: 22px
        margin-right: 30px
  .story
    width: 340px
    margin: auto
    &__line
      width: 340px
      margin-bottom: 47px
    &-wrapper
      width: 340px
      margin-bottom: 64px
    &__cards
      flex-direction: column
      width: 340px
      height: 840px
    &__image
      height: 277px
    &__info
      font-size: 20px
      line-height: 24px
    &-info
      height: 151px
      bottom: -36.86%
    &__title
      font-size: 28px
      line-height: 36px
      width: 270px
    &__text
      font-size: 16px
      line-height: 28px
      min-height: 84px
      width: 280px
  .swiper
    &-container
      width: 332px
      height: 840px
  .slider
    width: 350px
    min-height: 840px
  .callback
    &-container
      width: 500px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 36px
      
@media (max-width: 576px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 96%
    &-footer
      margin: auto
      width: 90%
    &-trending
      max-width: 290px
  .footer
    &-wrapper
      margin: auto
      width: 90%
    &-right
      flex-wrap: wrap
      width: 285px
      padding-bottom: 45px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 64px 10px 64px 10px
    min-height: 414px
    min-width: 320px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 0
    &__text
      margin-bottom: 36px
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      width: 300px
    &__title
      margin-bottom: 14px
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
    &__subscribe
      display: flex
      flex-direction: column
      flex-wrap: wrap
      max-width: 280px
      height: 150px
    .subscribe
      min-width: 280px
      &__input 
        position: absolute
        padding: 0 10px 0 50px
        width: 100%
        height: 48px
      &__button
        position: absolute
        min-width: 280px
        width: 100%
        height: 48px
        top: 58px
        left: 0
        border-radius: 8px
      &__image
        position: absolute
        top: 16px  
  .thanksyou
    &-wrapper
      display: flex
      min-height: 260px
      text-align: center
      justify-content: center
      flex-wrap: wrap
      margin: auto
      width: 320px
  .header
    &-menu
      right: 28px
  em
    top: 110px
  .trending
    &__card-1, 
    &__card-2,
    &__card-3,
    &__card-4,
    &__card-5,
    &__card-6,
    &__card-7,
    &__card-8
      width: 140px
    &__image
      height: 170px
    &-title
      font-size: 28px
      line-height: 36px
      margin-bottom: 24px
    &-tabs
      width: 290px
      font-size: 16px
      line-height: 22px
    &__top
      margin-bottom: 36px
    &__title
      font-size: 16px
      line-height: 20px
    &__price
      font-size: 14px
      line-height: 24px
      margin-right: 9px
    &__bottom
      justify-content: start
      margin-bottom: 30px 
    &__cards
      justify-content: space-between
    &-wrapper
      margin-bottom: 30px
  .callback
    &__text
      min-height: 250px
    &-container
      width: 280px
      height: 615px
    &__image
      width: 70px
      height: 81px
@media (max-width: 350px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 290px
    &-footer
      margin: auto
      width: 320px
    &-advantages
      width: 290px
  .header
    &-wrapper
      padding: 18px 9px 42px 9px
    &-menu
      top: 10px
      right: 10px
  .footer
    &-wrapper
      width: 264px
      margin: auto
    &-right
      width: 246px
      &__item
        margin-bottom: 15px
        &--mb-45
          margin-bottom: 39px
        &-main
          margin-bottom: 20px
  .newsletter
    padding: 64px 10px 64px 10px
    min-height: 414px
    min-width: 320px
    margin-bottom: 48px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 0
    &__text
      margin-bottom: 36px
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      width: 300px
    &__title
      margin-bottom: 14px
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
    &__subscribe
      display: flex
      flex-direction: column
      flex-wrap: wrap
      max-width: 280px
      height: 150px
    .subscribe
      min-width: 280px
      &__input 
        position: absolute
        padding: 0 10px 0 50px
        width: 100%
        height: 48px
      &__button
        position: absolute
        min-width: 280px
        height: 48px
        top: 58px
        left: 0
      &__image
        position: absolute
        top: 16px
  .thanksyou
    &-wrapper
      min-height: 260px
      width: 290px  
  .advantages
    &-wrapper
      margin-bottom: 64px
    &__image-1
      height: 300px
    &__image-2,
    &__image-3
      height: 97px
    &__cover-2,
    &__cover-3
      width: 138px
    &__title
      font-size: 27px
      margin-bottom: 16px
    &__text
      text-align: center
      margin-bottom: 24px
    &__right
      display: flex
      flex-direction: column
      align-items: center
  .story
    &__line
      width: 280px
    &__image
      width: 270px
    &__cards
      width: 280px
    &__card-1,
    &__card-2
      width: 280px
    &-info 
      width: 270px
  .swiper
    &-container
      width: 280px
  .trending
    &-wrapper
      margin-bottom: 18px
  .slider
    width: 280px
