@media (max-width: 1350px)
  .subscribe
    width: 370px
@media (max-width: 1280px)
  .container
    &-header
      margin: auto
      max-width: 98%
    &-footer
      margin: auto
      max-width: 993px
  .footer
    &-wrapper
      width: 993px
  .newsletter
    padding: 80px auto 80px auto
    min-height: 402px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 20px
      text-align: center
    &__title
      margin-bottom: 14px
    .subscribe
      min-width: 447px
  .thanksyou
    &-wrapper
      margin: auto
      width: 1000px
@media (max-width: 1150px)
  .container
    &-header
      margin: auto
      max-width: 98%
    &-footer
      margin: auto
      max-width: 87%
  .header
    &-menu
      width: 520px
  .footer
    &-wrapper
      width: 900px
    &-left
      margin-right: 30px
    &-right
      width: 650px
  .thanksyou
    &-wrapper
      margin: auto
      width: 800px
  .newsletter
    padding: 80px auto 80px auto
    min-height: 402px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 20px
      text-align: center
    &__title
      margin-bottom: 14px
@media (max-width: 992px)
  .container
    &-header
      max-width: 98%
    &-footer
      margin: auto
      max-width: 650px
  body
    padding-top: 116px
  .header
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 1000
        background-color: #fff
    &-wrapper
      padding: 30px 39px 53px 39px
    &-menu
      display: none
      position: fixed
      padding: 36px 24px
      right: 39px
      top: 20px
      margin: 0
      max-width: 304px
      height: 324px
      background-color: #fff
      flex-direction: column
      align-items: start
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
      &__button
        display: inline
        position: absolute
        cursor: pointer
        top: 15px
        right: 15px
      &__link
        font-style: normal
        font-weight: 600
        font-size: 16px
        line-height: 22px
        text-align: center
        margin-bottom: 20px
        &-get
          display: block
          padding: 8px 86px
      &--visible
        display: flex
    &__image
      display: inline
  .footer
    &-wrapper
      width: 593px
    &-left
      margin-right: 68px
    &-right
      flex-wrap: wrap
      width: 310px
      padding-bottom: 62px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 85px 40px 80px 40px
    min-height: 402px
    margin-bottom: 64px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 56px
      text-align: center
    &__title
      margin-bottom: 14px
  .thanksyou
    &-wrapper
      margin: auto
      width: 600px
@media (max-width: 768px)
  .container
    &-header
      margin: auto
      max-width: 728px
    &-footer
      margin: auto
      max-width: 593px
  .header
    &-menu
      right: 40px
  .footer
    &-wrapper
      width: 593px
    &-left
      margin-right: 68px
    &-right
      flex-wrap: wrap
      width: 310px
      padding-bottom: 62px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 85px 20px 80px 20px
    min-height: 450px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 56px
      text-align: center
    &__title
      margin-bottom: 14px
  .thanksyou
    &-wrapper
      margin: auto
      width: 500px
@media (max-width: 700px)
  .container
    &-header
      margin: auto
      max-width: 728px
    &-footer
      margin: auto
      max-width: 450px
  .footer
    &__text
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      margin-bottom: 29px
    &__image
      margin-bottom: 14px
    &-wrapper
      width: 500px
    &-left
      display: flex
      flex-direction: column
      align-items: center
      min-width: 242px
      order: 2
      margin-right: 0
      margin: auto
      min-height: 152px
      margin-bottom: 64px
    &-right
      flex-wrap: wrap
      width: 300px
      padding-bottom: 45px
      &__item
        &--mb-45
          margin-bottom: 39px
      &__link
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 20px
        &-main
          font-style: normal
          font-weight: bold
          font-size: 16px
          line-height: 22px
    &-bottom
      display: none
    &-copyright
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      text-align: center
  .newsletter
    padding: 85px 10px 80px 10px
    min-height: 470px  
    margin-bottom: 48px
  .thanksyou
    &-wrapper
      width: 400px
@media (max-width: 576px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 96%
    &-footer
      margin: auto
      width: 90%
  .footer
    &-wrapper
      margin: auto
      width: 90%
    &-right
      flex-wrap: wrap
      width: 285px
      padding-bottom: 45px
    &-bottom
      padding-bottom: 64px
  .newsletter
    padding: 64px 10px 64px 10px
    min-height: 414px
    min-width: 320px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 0
    &__text
      margin-bottom: 36px
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      width: 300px
    &__title
      margin-bottom: 14px
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
    &__subscribe
      display: flex
      flex-direction: column
      flex-wrap: wrap
      max-width: 280px
      height: 150px
    .subscribe
      min-width: 280px
      &__input 
        position: absolute
        padding: 0 10px 0 50px
        width: 100%
        height: 48px
      &__button
        position: absolute
        min-width: 280px
        width: 100%
        height: 48px
        top: 58px
        left: 0
        border-radius: 8px
      &__image
        position: absolute
        top: 16px  
  .thanksyou
    &-wrapper
      display: flex
      min-height: 260px
      text-align: center
      justify-content: center
      flex-wrap: wrap
      margin: auto
      width: 320px
  .header
    &-menu
      right: 28px
  em
    top: 110px
@media (max-width: 350px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 290px
    &-footer
      margin: auto
      width: 320px
  .header
    &-wrapper
      padding: 18px 9px 42px 9px
    &-menu
      top: 10px
      right: 10px
  .footer
    &-wrapper
      width: 264px
      margin: auto
    &-right
      width: 246px
      &__item
        margin-bottom: 15px
        &--mb-45
          margin-bottom: 39px
        &-main
          margin-bottom: 20px
  .newsletter
    padding: 64px 10px 64px 10px
    min-height: 414px
    min-width: 320px
    margin-bottom: 48px
    &-wrapper
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
    &-text
      margin-bottom: 0
    &__text
      margin-bottom: 36px
      text-align: center
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      text-align: center
      width: 300px
    &__title
      margin-bottom: 14px
      font-style: normal
      font-weight: bold
      font-size: 28px
      line-height: 36px
    &__subscribe
      display: flex
      flex-direction: column
      flex-wrap: wrap
      max-width: 280px
      height: 150px
    .subscribe
      min-width: 280px
      &__input 
        position: absolute
        padding: 0 10px 0 50px
        width: 100%
        height: 48px
      &__button
        position: absolute
        min-width: 280px
        height: 48px
        top: 58px
        left: 0
      &__image
        position: absolute
        top: 16px
  .thanksyou
    &-wrapper
      min-height: 260px
      width: 290px  
        
      
