@media (max-width: 1280px)
  .container
    &-header
      margin: auto
      max-width: 98%
@media (max-width: 992px)
  .container
    &-header
      max-width: 98%
  .header
    &-wrapper
      padding: 30px 39px 53px 39px
    &-menu
      display: none
  .menu
    &__image
      display: inline
@media (max-width: 768px)
  .container
    &-header
      margin: auto
      max-width: 728px
@media (max-width: 576px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 96%
@media (max-width: 350px)
  .body
    overflow: hidden
  .container
    &-header
      max-width: 290px
  .header
    &-wrapper
      padding: 18px 9px 42px 9px
